[submodule "site-lisp/extensions/lazy-load"]
	path = site-lisp/extensions/lazy-load
	url = https://github.com/manateelazycat/lazy-load.git
[submodule "site-lisp/extensions/one-key"]
	path = site-lisp/extensions/one-key
	url = https://github.com/manateelazycat/one-key.git
[submodule "site-lisp/extensions/emacs-application-framework"]
	path = site-lisp/extensions/emacs-application-framework
	url = https://github.com/emacs-eaf/emacs-application-framework.git
[submodule "site-lisp/extensions/swiper"]
	path = site-lisp/extensions/swiper
	url = https://github.com/abo-abo/swiper.git
[submodule "site-lisp/extensions/awesome-tray"]
	path = site-lisp/extensions/awesome-tray
	url = https://github.com/manateelazycat/awesome-tray.git
[submodule "site-lisp/extensions/auto-save"]
	path = site-lisp/extensions/auto-save
	url = https://github.com/manateelazycat/auto-save.git
[submodule "site-lisp/extensions/grammatical-edit"]
	path = site-lisp/extensions/grammatical-edit
	url = https://github.com/manateelazycat/grammatical-edit.git
[submodule "site-lisp/extensions/emacs-tree-sitter"]
	path = site-lisp/extensions/emacs-tree-sitter
	url = https://github.com/ubolonton/emacs-tree-sitter.git
[submodule "site-lisp/extensions/tree-sitter-langs"]
	path = site-lisp/extensions/tree-sitter-langs
	url = https://github.com/emacs-tree-sitter/tree-sitter-langs.git
[submodule "site-lisp/extensions/popweb"]
	path = site-lisp/extensions/popweb
	url = https://github.com/manateelazycat/popweb.git
[submodule "site-lisp/extensions/windresize.el"]
	path = site-lisp/extensions/windresize.el
	url = https://github.com/bzg/windresize.el.git
[submodule "site-lisp/extensions/ace-window"]
	path = site-lisp/extensions/ace-window
	url = https://github.com/abo-abo/ace-window.git
[submodule "site-lisp/extensions/emacs-winum"]
	path = site-lisp/extensions/emacs-winum
	url = https://github.com/deb0ch/emacs-winum.git
[submodule "site-lisp/extensions/watch-other-window"]
	path = site-lisp/extensions/watch-other-window
	url = https://github.com/manateelazycat/watch-other-window.git
[submodule "site-lisp/extensions/toggle-one-window"]
	path = site-lisp/extensions/toggle-one-window
	url = https://github.com/manateelazycat/toggle-one-window.git
[submodule "site-lisp/extensions/orderless"]
	path = site-lisp/extensions/orderless
	url = https://github.com/oantolin/orderless.git
[submodule "site-lisp/extensions/lsp-bridge"]
	path = site-lisp/extensions/lsp-bridge
	url = https://github.com/manateelazycat/lsp-bridge.git
[submodule "site-lisp/extensions/f.el"]
	path = site-lisp/extensions/f.el
	url = https://github.com/rejeep/f.el.git
[submodule "site-lisp/extensions/engine-mode"]
	path = site-lisp/extensions/engine-mode
	url = https://github.com/hrs/engine-mode.git
[submodule "site-lisp/extensions/avy"]
	path = site-lisp/extensions/avy
	url = https://github.com/abo-abo/avy.git
[submodule "site-lisp/extensions/emacs-which-key"]
	path = site-lisp/extensions/emacs-which-key
	url = https://github.com/justbur/emacs-which-key.git
[submodule "site-lisp/extensions/posframe"]
	path = site-lisp/extensions/posframe
	url = https://github.com/tumashu/posframe.git
[submodule "site-lisp/extensions/smooth-scrolling"]
	path = site-lisp/extensions/smooth-scrolling
	url = https://github.com/aspiers/smooth-scrolling.git
[submodule "site-lisp/extensions/winpoint"]
	path = site-lisp/extensions/winpoint
	url = https://github.com/jorgenschaefer/winpoint.git
[submodule "site-lisp/extensions/projectile"]
	path = site-lisp/extensions/projectile
	url = https://github.com/bbatsov/projectile.git
[submodule "site-lisp/extensions/counsel-projectile"]
	path = site-lisp/extensions/counsel-projectile
	url = https://github.com/ericdanan/counsel-projectile.git
[submodule "site-lisp/extensions/insert-translated-name"]
	path = site-lisp/extensions/insert-translated-name
	url = https://github.com/manateelazycat/insert-translated-name.git
[submodule "site-lisp/extensions/Emacs-wgrep"]
	path = site-lisp/extensions/Emacs-wgrep
	url = https://github.com/mhayashi1120/Emacs-wgrep.git
[submodule "site-lisp/extensions/color-rg"]
	path = site-lisp/extensions/color-rg
	url = https://github.com/manateelazycat/color-rg.git
[submodule "site-lisp/extensions/rg.el"]
	path = site-lisp/extensions/rg.el
	url = https://github.com/dajva/rg.el.git
[submodule "site-lisp/extensions/exec-path-from-shell"]
	path = site-lisp/extensions/exec-path-from-shell
	url = https://github.com/purcell/exec-path-from-shell.git
[submodule "site-lisp/extensions/cache-path-from-shell"]
	path = site-lisp/extensions/cache-path-from-shell
	url = https://github.com/manateelazycat/cache-path-from-shell.git
[submodule "site-lisp/extensions/goto-line-preview"]
	path = site-lisp/extensions/goto-line-preview
	url = https://github.com/jcs090218/goto-line-preview.git
[submodule "site-lisp/extensions/delete-block"]
	path = site-lisp/extensions/delete-block
	url = https://github.com/manateelazycat/delete-block.git
[submodule "site-lisp/extensions/symbol-overlay"]
	path = site-lisp/extensions/symbol-overlay
	url = https://github.com/wolray/symbol-overlay.git
[submodule "site-lisp/extensions/move-text"]
	path = site-lisp/extensions/move-text
	url = https://github.com/manateelazycat/move-text.git
[submodule "site-lisp/extensions/duplicate-line"]
	path = site-lisp/extensions/duplicate-line
	url = https://github.com/manateelazycat/duplicate-line.git
[submodule "site-lisp/extensions/open-newline"]
	path = site-lisp/extensions/open-newline
	url = https://github.com/manateelazycat/open-newline.git
[submodule "site-lisp/extensions/shift-number.el"]
	path = site-lisp/extensions/shift-number.el
	url = https://github.com/alezost/shift-number.el.git
[submodule "site-lisp/extensions/thing-edit"]
	path = site-lisp/extensions/thing-edit
	url = https://github.com/manateelazycat/thing-edit.git
[submodule "site-lisp/extensions/aweshell"]
	path = site-lisp/extensions/aweshell
	url = https://github.com/manateelazycat/aweshell.git
[submodule "site-lisp/extensions/sort-tab"]
	path = site-lisp/extensions/sort-tab
	url = https://github.com/manateelazycat/sort-tab.git
[submodule "site-lisp/extensions/smart-align"]
	path = site-lisp/extensions/smart-align
	url = https://github.com/manateelazycat/smart-align.git
[submodule "site-lisp/extensions/snails"]
	path = site-lisp/extensions/snails
	url = https://github.com/manateelazycat/snails.git
[submodule "site-lisp/extensions/restart-emacs"]
	path = site-lisp/extensions/restart-emacs
	url = https://github.com/iqbalansari/restart-emacs.git
[submodule "site-lisp/extensions/hydra"]
	path = site-lisp/extensions/hydra
	url = https://github.com/abo-abo/hydra.git
